DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/pilot_test?schema=public"

JWT_ACCESS_SECRET="change-me-generate-a-random-64-char-hex-string"
JWT_REFRESH_SECRET="change-me-generate-a-different-random-64-char-hex-string"

FRONTEND_ORIGIN="http://localhost:5173"
UPLOAD_DIR="uploads-test"
